:root {
  font-family: 'JetBrains Mono', monospace;

  --v-scale: 1;

  --v-spacing-xs: calc(0.625rem * var(--v-scale));
  --v-spacing-sm: calc(0.75rem * var(--v-scale));
  --v-spacing-md: calc(1rem * var(--v-scale));
  --v-spacing-lg: calc(1.25rem * var(--v-scale));
  --v-spacing-xl: calc(2rem * var(--v-scale));
}

.v-padding-xs {
  padding: var(--v-padding-xs);
}

.v-padding-sm {
  padding: var(--v-padding-sm);
}

.v-padding-md {
  padding: var(--v-padding-md);
}

.v-padding-lg {
  padding: var(--v-padding-lg);
}

.v-padding-xl {
  padding: var(--v-padding-xl);
}
